#downloadbutton
{
  display: block;
  width: 195px;
  height: 30px;
  background: url(/wp-content/uploads/2010/10/button.png) no-repeat 0 0;
}

#downloadbutton:hover
{ 
  background-position: 0 -30px;
}

#downloadbutton span
{
  position: absolute;
  top: -999em;
}

.listing-item
{
  padding-bottom: 1em;}
}

.listing-item a.title
{
  font-size: 1.5em;
}